.button{
    font-family: 'Architects Daughter', cursive;
    color: #513abb;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 28px;
}
.button:hover{
    color: #2d00ff;
}