.input{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    border-bottom: 1px solid  #513abb;
    font-size: 20px;
    font-family: 'Architects Daughter', cursive;
    color: #513abb;
    outline: none;
}